<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <div id="container">

      <h1>Codebreaker game.</h1>
      <h2> Guess 4 numbers in range 1..6. You have one hint and ten chances.</h2>

      <form method="post" action="/new_game" id="new_game">
        <input type="submit" value="new game">
      </form>

      <form method="post" action="/update_guess">
        <input name="guess" type="text" autofocus>
        <input type="submit" value="Guess!">
      </form>

      <div id="guess">
        <% @guesses.each do |k, v| %>
          <p><%= k %>: <%= v %></p>

            <% if v && v.match(/\+\+\+\+/) %>
              <h2>You won!!! Enter your name to save results.</h2>

              <form method="post" action="/create_user">
                <input name="user" type="text">
                <input type="submit" value="Submit">
              </form>

            <% elsif v.match(/lost/) %>
              <h2>You lost. Number of guesses were exceeded.</h2>
            <% end %>

        <% end %>
      </div>

      <div id="statistics">
        <h3>Statistics</h3>
          <div id="stat_data">
            <% statistics.each do |line| %>
              <p><%= line.chomp %></p>
            <% end %>
          </div>
      </div>

      <br>

      <a href="/get_hint">Use hint</a>
      <span ><%= hint %></span>

    <div class="clear"></div>
    </div>
  </body>
</html>